@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
    justify-content: center;
    background-size:cover;
    display: flex;
}
.buttonPlay {
    display: flex;
    background-color: #a90000; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

section {
    background-color: #cdcdcd;
    width: 520px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .title {
    width: 96%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #666a86;
    background-color: #ececec;
    text-align: center;
  }

  .sectionMessage {
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    color: #333333;
    text-align: center;
    letter-spacing: 3px;
  }